.site-header {
    background: #fff;
    border-bottom: 1px solid #ebe8e5
}

.header-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px
}

.brand {
    display: flex;
    align-items: center;
    gap: 11px
}

.brand-logo {
    width: 102px;
    height: 102px;
    object-fit: contain;
    filter: drop-shadow(0 5px 8px #4b11182b)
}

.brand strong {
    display: block;
    letter-spacing: .09em;
    font-size: 1.1rem
}

.brand small {
    display: block;
    color: #828084;
    font-size: .68rem
}

.site-header nav {
    display: flex;
    gap: 27px;
    font-size: .82rem;
    font-weight: 650
}

.site-header nav a:hover {
    color: #a72833
}

.header-tag {
    font-size: .67rem;
    font-weight: 800;
    letter-spacing: .07em;
    color: #a72833
}